h1 {
  margin: 0;
  text-align: center;
  color: lightseagreen;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 50px;
}
 #container{
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 30px;
  border-radius: 20px;
  background: beige;
  justify-content: center;
  text-align:center;
  align-items: center;
}
table{
 background: darkcyan;
 font-weight: 500;
}
table thead{
  background: crimson;
  text-transform: uppercase;
}
table thead th{
  padding:20px;
  background: firebrick;
} 

/* tbody{
display: block;
width: 40%;
  background: beige;
  padding: 10px;
  border-radius: 20px;
}
tbody td{
  padding: 10px;
}
input{
  padding: 20px;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
