body {
  margin: 0;
  font-family: 'Akaya Telivigala', cursive;
  background: rgba(29, 29, 29, 0.568);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
